body {
    font-family: Arial, Helvetica, sans-serif;
}
.sandwich {
    display: none;
    width: 45px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    background: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-direction: column;
    cursor: pointer;
}
.sandwich span {
    background-color: grey;
    height: 2px;
    width: 25px;
    display: block;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 10px 15px;
}
header .logo {
    color: white;
    font-size: 24px;
}

header nav a {
    color: #c5c4c4;
}
header nav a:hover {
    color: #e9e8e8;
}
header input {
    height: 40px;
    border-radius: 7px;
    border: none;
    margin-left: auto;
}
header nav li ul {
    opacity: 0;
    background-color:#fcfafa ;
    border-radius: 7px;
    border: 1px solid #f8f7f7;
    width: 180px;
    transition: all 0.3s ease-out;
}
.drop ul li a {
    display: block;
    padding: 5px 15px;
    transition: all 0.2s linear;
}
.drop ul li a:hover {
    background-color: #acacac;
}
header nav > ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 25px;
}
.drop {
    position: relative;
}
.drop ul {
    position: absolute;
    left: 0;
    top: 150%;
    overflow: hidden;
    transform: translateY(-30px);
}
.drop:hover ul {
    opacity: 1;
    transform: translateY(0);
}
.drop:hover > a:after {
    transform: rotate(180deg);
}
.drop > a:after {
    display: block;
    width: 0;
    content: " ";
    border-top: 6px solid grey;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: all 0.3s linear;
}
.drop > a {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 992px) {
    header nav {
        display: none;
    }
    header input {
        display: none;
    }
    .sandwich {
        display: flex;
        margin-left: auto;
    }
}