body {
    font-family: Arial, Helvetica, sans-serif;
}
.sandwich {
    display: none;
    width: 45px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    background: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-direction: column;
    cursor: pointer;
}
.sandwich span {
    background-color: grey;
    height: 2px;
    width: 25px;
    display: block;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 10px 15px;
}
header .logo {
    color: white;
    font-size: 24px;
}
header nav a {
    color: #c5c4c4;
}
header nav a:hover {
    color: #e9e8e8;
}
header input {
    height: 40px;
    border-radius: 7px;
    border: none;
    margin-left: auto;
}
header nav li ul {
    display: none;
}
header nav > ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 25px;
}
 header nav ul li:hover ul{
     display: block !important;
} 

@media (max-width: 992px) {
    header nav {
        display: none;
    }
    header input {
        display: none;
    }
    .sandwich {
        display: flex;
        margin-left: auto;
    }
}