h1{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-danger{
    background-color: #f7a2a2;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
}
