*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.name-menu{
    width: 100%;
    padding: 5px;
    background-color: #362323;
    display: flex;
    gap: 20px;
    margin-bottom: 25px;

    & a{
        color: aliceblue;
        text-decoration: none;

        &.active{
            color: #ffa9ff;
        }
    }
}