html, body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
#app{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d4e7e5;
    background-color: #d7ebe9;
    gap: 20px;

    & .btn {
        display: flex;
        margin: 20px auto;        
        width: 120px;
        padding: 10px 29px;
        border-radius: 3px;
        border: 0.5px solid #d6d6d6;
    }
}
#app div{
    display: flex;
    width: 100%;
    left: 30px;
    align-items: center;
    justify-content: center;

    & input{
        height: 50px;
        width: 200px;
    }
}


#app-2{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 75%;
    // height: 100vh;
}
h2 {
    margin-top: 15px;
    margin-left: 20px;
    padding: 0;
}

   
// .name-menu{
//     width: 100%;
//     padding: 5px;
//     background-color: #362323;
//     display: flex;
//     gap: 20px;
//     margin-bottom: 25px;

//     & a{
//         color: aliceblue;
//         text-decoration: none;

//         &.active{
//             color: #ffa9ff;
//         }
//     }
// }