@font-face {
    font-family: "Coming Soon";
    font-weight: normal;
    src: url('./fonts/ComingSoon-Regular.ttf') , url('./fonts/ComingSoon-Regular.eot'), url('./fonts/ComingSoon-Regular.woff'), url('./fonts/ComingSoon-Regular.woff2') ;
}

div {
    border: 2px solid #39acbb;
    padding: 15px;
    width: 820px;
    margin: 0 auto;
    margin-bottom: 25px;
}
div:first-child {
    font-family: Arial, Helvetica, sans-serif;
}
.opensans {
    font-family: "Open Sans", sans-serif;;
}
div:nth-child(2) {
    font-family: "Coming Soon", cursive;
    font-weight: 700;
}