html, body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bcg {
    padding-top: 150px;
    background-image: url(https://offside.kz/cache/imagine/1200/uploads/news/2025/08/01/688c7778cb6ac805324435.jpg);
    padding-bottom: 150px;
    background-size: contain;
    border-radius: 5px;
}
.converter{
    width: 700px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px)
}
.container{
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    padding-right: 50px;
}
.container input {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
}
h2{
    color: rgb(5, 64, 99);
}
