
.frame {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load {
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

} 

img {
    width: 100%;
    animation: spin 4s infinite linear both;
}

@keyframes spin {
    to { 
        transform: rotate(360deg);
    }
}

