*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #9cd3ae;
}
.track {
    display: flex;
    flex-direction: column;
}

